.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 6rem; */
  min-height: 100vh;
  width: 600px;
  margin: auto;
}

.heading {
  padding: 8px;
}

.priceRules {
  padding: 8px;
  border: 1px solid #DDD;
  white-space: pre;
  width: 300px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 300px;
}

.button {
  width: 100%;
}